html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

html,
body,
h1,
h2,
p,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

:root {
  --primary: #dd9933;
  --primary-shadow: #dd99334d;
  --text-clr: #ffffff;
  --text-gray: #777777;
  --body-bg: #2d2d2d;
  --body-bg-dark: #181717;
  --body-bg-black: #000000;
  --menu-hover: var(--primary);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--body-bg);
}

::-webkit-scrollbar-thumb {
  background: #454545;
  height: 100px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--body-bg-black);
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.55;
  background-color: var(--body-bg-dark);
  color: var(--text-clr);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'Quicksand', 'Roboto', 'Ubuntu', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: var(--text-gray);
}

main {
  max-width: 950px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#left {
  width: 100%;
}

section#left img {
  margin: 0 auto;
  max-width: 300px;
  width: 80%;
}

section#left p {
  font-size: 16px;
  text-align: center;
  margin: 1em auto 0;
}

nav {
  position: fixed;
  bottom: 0.7rem;
  background-color: var(--body-bg);
  text-align: left;
  right: 0.7rem;
  border-radius: 1rem;
  z-index: 100;
}

nav.open {
  padding: 1rem;
  box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.25);
  transform: scale(1);
}

nav .floatmenu {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-clr);
  border: none;
  border-radius: 50%;
}

nav .floatmenu:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--primary-shadow);
}

nav .floatmenu svg {
  height: 30px;
  width: 30px;
}

nav .floatmenu .icon__close {
  display: none;
}

nav .nav__list {
  display: none;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

nav .nav__list li {
  display: block;
  padding: 3px 0;
  font-weight: 500;
}

nav .nav__list li + li {
  margin-top: 0.5rem;
}

nav .nav__list a {
  display: inline-block;
  margin: 0 2px;
  padding: 0.8rem 0.9rem 0.8rem 0.7rem;
  border-radius: 0.4rem;
  color: var(--text-clr);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 16px;
}

nav .nav__list a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-shadow);
}

nav .nav__list a:hover {
  color: var(--body-bg-black);
  background-color: var(--menu-hover);
  box-shadow: none;
}

nav .nav__list .material-icons {
  margin-right: 10px;
  font-size: 22px;
  vertical-align: text-bottom;
}

nav.open {
  padding: 1rem 1rem;
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1);
}

nav.open .nav__list {
  display: block;
  min-width: 120px;
}

nav.open .floatmenu .icon__open {
  display: none;
}

nav.open .floatmenu .icon__close {
  display: block;
}

section#right {
  width: 100%;
}

section#right img {
  width: 85%;
  height: 350px;
  margin: 5em auto 0;
}

footer {
  width: 100%;
  background-color: var(--body-bg-black);
  text-align: center;
  font-size: 12px;
  padding: 1em;
}

.branding {
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  section#right img {
    margin: 0 auto;
  }

  nav {
    position: static;
    background-color: transparent;
    text-align: center;
  }

  nav .floatmenu {
    display: none;
  }

  nav .nav__list {
    display: block;
    margin: 3em auto 0;
    color: var(--text-clr);
  }

  nav .nav__list li {
    display: inline-block;
  }

  nav .nav__list li + li {
    margin-top: 0;
    margin-left: 0.5rem;
  }

  nav .nav__list a {
    padding: 0.8rem 1.3rem 0.8rem 1rem;
    color: var(--body-bg-black);
    background-color: var(--primary);
  }

  nav .nav__list a:focus {
    outline: none;
    box-shadow: 0 0 0 4px var(--primary-shadow);
  }

  nav .nav__list a:hover {
    color: var(--text-clr);
    background-color: var(--body-bg-black);
    box-shadow: none;
  }
}
